.card-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 1rem;
}

mat-card-title {
  text-align: center;
}

mat-card-actions {
  display: flex;
  justify-content: center;
}
