<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenavRef mode="push" class="w-1/4">
    <mat-toolbar>
      <span>Menu</span>
      <span class="flex-auto"></span>
      <button mat-icon-button (click)="sidenavRef.toggle()" class="mx-4">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list *ngFor="let link of links">
      <mat-list-item [routerLink]="link.path" (click)="sidenavRef.toggle()">
        {{ link.label }}
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-toolbar>
    <button mat-icon-button (click)="sidenavRef.toggle()" class="mx-4">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="app-title" routerLink="/">{{ titleLabel }}</h1>
  </mat-toolbar>
  <div>
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
